<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>5D3H</title>
  </head>
  <body>
    <label>{{ city_name }}:
      <ul>
          <li>{{ r.list.0.dt_txt}} - {{ r.list.0.main.temp }}C</li>
          <li>{{ r.list.1.dt_txt}} - {{ r.list.1.main.temp }}C</li>
          <li>{{ r.list.2.dt_txt}} - {{ r.list.2.main.temp }}C</li>
          <li>{{ r.list.3.dt_txt}} - {{ r.list.3.main.temp }}C</li>
          <li>{{ r.list.4.dt_txt}} - {{ r.list.4.main.temp }}C</li>
          <li>{{ r.list.5.dt_txt}} - {{ r.list.5.main.temp }}C</li>
          <li>{{ r.list.6.dt_txt}} - {{ r.list.6.main.temp }}C</li>
          <li>{{ r.list.7.dt_txt}} - {{ r.list.7.main.temp }}C</li>
          <li>{{ r.list.8.dt_txt}} - {{ r.list.8.main.temp }}C</li>
          <li>{{ r.list.9.dt_txt}} - {{ r.list.9.main.temp }}C</li>
          <li>{{ r.list.10.dt_txt}} - {{ r.list.10.main.temp }}C</li>
          <li>{{ r.list.11.dt_txt}} - {{ r.list.11.main.temp }}C</li>
          <li>{{ r.list.12.dt_txt}} - {{ r.list.12.main.temp }}C</li>
          <li>{{ r.list.13.dt_txt}} - {{ r.list.13.main.temp }}C</li>
          <li>{{ r.list.14.dt_txt}} - {{ r.list.14.main.temp }}C</li>

      </ul>
    </label>
  </body>
</html>
